body {
    background: #581252;
}

.banner {
    background-color: transparent;
    width: 75%;
    height: 30%;
    margin-left: 10%;
    margin-top: 5%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ban {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10vh;
}

.info {
    height: 100px;
    position: absolute;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgba(248, 135, 135, 0.5);
    text-shadow: 2px 3px rgb(255, 255, 255);
}

.form {
    background-color: antiquewhite;
    width: 75%;
    height: 70%;
    margin-left: 10%;
    margin-top: 5%;
    border-style: groove;
    border-width: 2vw;
    border-color: rgb(255, 134, 239);
}

.formulario {
    height: 800px;
}

.formL {
    color: white;
    width: 15px;
    padding: 1%;
    background-color: rgba(122, 49, 102, 0.904);
    margin-left: 5%;
    margin-right: 5%;
    height: 10%;
    border-radius: 5vw;
}

.formI {
    width: 55%;
    height: 10%;
    margin-top: 1%;
    margin-left: 10%;
    border-radius: 5vh;
}

.bot {
    margin-top: 2.5%;
    margin-left: 50%;
    width: 10vw;
    height: 3vw;
    background-color: rgb(245, 0, 0);
    border-radius: 5vw;
}