#img_bann{
     width: 100%;
    /* margin-left: -25vh;*/
     height: 100%;
     object-fit: cover;
     border-radius: 5vh;
}

body{
    background: #581252;
}

.container {
    padding: 5vh;
    height: auto;
    
    border-radius: 5vh;
}

#banner{
    text-align: center;
    padding: 0%;
    height: 35vh;
}


#pban {
    position: relative;
    width: 30%;
    margin: -23vh 35%;
    font-size: 10vh;
    border-radius: 50%;
    backdrop-filter: blur(3px);
}

#formulario{
    width: 60vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #DCA58F;
}

#labform{
    background-color: #581252;
    color: #ffffff;
    border-radius: 1vh;
    padding: .5vh;
}


p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#botonenv{
    margin-top: 5vh;
}

#botonbusc{
    margin-bottom: 3vh;
    display: none;
}

.linea{
    width: 100%;
    height: 1vh;
    background-color: #581252;
    margin-bottom: 5vh;
    border-radius: 2vh;
}

img{
    width:100%;
    height: 100%;
    border-radius: 2vh;
    
}

.imgreceta{
    width:35vh;
    height:35vh ;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 3vh;
    color: #ffffff;
    border: .5vh;
    border-style: solid;
    border-radius: 2vh;
}