#img_bann{
     width: 100%;
    /* margin-left: -25vh;*/
     height: 100%;
     object-fit: cover;
}

body{
    background: #B04C6B;
}

.container {
    padding: 0;
    height: 30vh;
    
}

#banner{
    text-align: center;
}


#pban {
    position: relative;
    top:-30vh;
    font-size: 20vh;
}



#formulario{
    width: 50%;
    margin-top: 5vh;
}

#labform{
    background-color: #581252;
    color: #ffffff;
}


p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}