@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Nunito:wght@500&display=swap');
body {
    background-color: #DCA58F;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
svg {
    position: absolute; 
    z-index: -1;
}

/* BANNER */
.banner {
    width: 100%;
    height: 25vh;
    /* background-color: rgb(255,255,255,0.3); */
    display: flex;
    justify-content: right;
    margin-bottom: -2vh;
}
.banner div {
    height: 100%;
}
#title {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title img {
    width: 15vh;
    margin-right: 3vh;
}
#title span {
    font-family: 'Flavors', cursive;
    font-size: 10vh;
    padding-top: 1vh;
    color: rgb(51, 23, 5);
}
#user {
    width: 5%;
    padding: 3vh 1vh 0 1vh;
}
#perfil{
    width: 5.9vh;
    height: 6vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: fill;
}
#perfil img{
    min-width: 100%;
    min-height: 100%;
    cursor: pointer;
}
#perfil img:hover {
    opacity: 0.5;
    transition: all 0.5s ease;
}
#edit {
    width: 3vh;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
    
    position: relative;
    top: -4.5vh;
    left: 1.5vh;
    transition: 0.5s;
}
#perfil img:hover ~ #edit {
    display: none;
}
#edit img {
    min-width: 100%;
    min-height: 100%;
}
#user span {
    font-size: 2vh;
    text-align: right;
    position: absolute;
    top: 9.5vh;
    right: 5.5vh;
    width: 25vh;
    cursor: default;
}

/* SUBTÍTULO */
#subtitulo {
    width: 100%;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 4vh;
    color: #684d43;
}