a {
    text-decoration: none;
}
a img {
    width: 10vh;
}


.wrampper {
    display: flex;
    position: relative;
}
.wrampper .sidebar {
    position: fixed;
    width: 40vh;
    height: 100%;
    background-color: #a06550;
    padding: 1vh 0;
}
#inicio {
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrampper .sidebar h1 {
    color: #fff;
    margin: 0;
}